<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:cognizant:nk:ebayapp:transform</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>XSL transformation for the data layer</name>
			<description>Demo of ebay app on netkernel.</description>
		</info>
	</meta>
	<system>
		<dynamic />
	</system>
	<rootspace public="true">
		<mapper>
			<config>
				<endpoint>
					<grammar>res:/ebay/service/categories</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/resources/scripts/categories.gy</argument>
					</request>
				</endpoint>
				<endpoint>
					<grammar>
					<active>
						<identifier>active:categoryItemsService</identifier>
						<argument name="category"></argument>
					</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/resources/scripts/categoryItems.gy</argument>
						<argument name="category">arg:category</argument>
					</request>
				</endpoint>				
				<endpoint>
					<grammar>res:/ebay/service/getruname</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/resources/scripts/getruname.gy</argument>
					</request>
				</endpoint>
				<endpoint>
					<grammar>res:/ebay/transform/getsessionid</grammar>
					<request>
						<identifier>active:xslt</identifier>
						<argument name="operator">res:/resources/xml/GetSessionIDTransform.xsl</argument>
						<argument name="operand">res:/ebay/data/getsessionid</argument> 
					</request>
					<header name="mime">application/xml</header>
				</endpoint>				
				<endpoint>
					<grammar>res:/ebay/service/getsessionid</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/resources/scripts/getsessionidservice.gy</argument>
					</request>
				</endpoint>
			</config>
			<space>
				<fileset>
					<private />
					<regex>res:/resources/.*</regex>
				</fileset>
				<import>
					<uri>urn:com:cognizant:nk:ebayapp:data</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:client:http</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:xml:core</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:lang:groovy</uri>
				</import>
				<import>
					<uri>urn:org:netkernel:ext:layer1</uri>
				</import>
				
			</space>
		</mapper>
	</rootspace>
</module>