<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:cognizant:nk:ebayapp:pres</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>eBay App on netkernel</name>
			<description>Demo of ebay app on netkernel.</description>
		</info>
	</meta>
	<system>
		<dynamic />
	</system>
	<rootspace name="Public App" public="true">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>
		<overlay>
			<prototype>HTTPSession</prototype>
			<config>
				<maxSessions>100</maxSessions>
				<minDuration>1200000</minDuration>
				<maxDuration>1200000</maxDuration>
			</config>
			<space name="Ebay App - HTTP Session Overlay">
				<pluggable-overlay>
					<preProcess>
						<identifier>active:GateKeeper</identifier>
						<argument name="request">arg:request</argument>
					</preProcess>
					<space name="Ebay App - Protected Space">
						<import>
							<uri>urn:com:cognizant:nk:ebayapp:security:impl</uri>
						</import>
						<import>
							<uri>urn:com:cognizant:nk:ebayapp:core</uri>
						</import>
					</space>
				</pluggable-overlay>
			</space>
		</overlay>
		<import>
			<private />
			<uri>urn:com:cognizant:nk:ebayapp:common</uri>
		</import>
	</rootspace>
	<rootspace name="Ebay App Core" uri="urn:com:cognizant:nk:ebayapp:core"
		public="true">
		<overlay>
			<prototype>RESTOverlay</prototype>
			<config>
				<basepath>/ebay/</basepath>
			</config>
			<space name="Inside Ebay App Core Space">
				<mapper>
					<config>
						<endpoint>
							<grammar>res:/ebay/login</grammar>
							<request>
								<identifier>active:groovy</identifier>
								<argument name="operator">res:/resources/scripts/ebaylogin.gy
								</argument>
							</request>
							<header name="mime">text/html</header>
						</endpoint>
						<endpoint>
							<grammar>res:/ebay/logout</grammar>
							<request>
								<identifier>active:groovy</identifier>
								<argument name="operator">res:/resources/scripts/ebaylogout.gy
								</argument>
							</request>
							<header name="mime">text/html</header>
						</endpoint>						
						<endpoint>
							<grammar>res:/ebay/pres/landingpage</grammar>
							<request>
								<identifier>active:groovy</identifier>
								<argument name="operator">res:/resources/scripts/landingpage.gy</argument>
							</request>
							<header name="mime">text/html</header>
						</endpoint>
						<endpoint>
							<grammar>res:/ebay/pres/leftnav.html</grammar>
							<request>
								<identifier>active:xslt</identifier>
								<argument name="operator">res:/resources/xml/leftnav.xsl
								</argument>
								<argument name="operand">res:/ebay/service/categories
								</argument>
							</request>
							<header name="mime">text/html</header>
							<header name="httpResponse:/header/Expires">0</header>
						</endpoint>
						<endpoint>
							<grammar>
							<active>
								<identifier>res:/ebay/pres/landingpage/rightframe</identifier>
								<argument name="category" />
							</active>
							</grammar>
							<request>
								<identifier>active:groovy</identifier>
								<argument name="operator">res:/resources/scripts/itemlisturlstring.gy</argument>
								<argument name="category">arg:category</argument>
							</request>
						</endpoint>
						<endpoint>
							<grammar>res:/ebay/pres/category/items.html</grammar>
							<request>
								<identifier>active:groovy</identifier>
								<argument name="operator">res:/resources/scripts/categoryItems.gy
								</argument>
							</request>
							<header name="mime">text/html</header>
						</endpoint>
					</config>
					<space>
						<import>
							<uri>urn:com:cognizant:nk:ebayapp:common</uri>
						</import>
					</space>
				</mapper>
			</space>
		</overlay>
		<import>
			<private />
			<uri>urn:com:cognizant:nk:ebayapp:common</uri>
		</import>
	</rootspace>
	<rootspace name="Ebay Authentication" uri="urn:com:cognizant:nk:ebayapp:security:impl"
		public="false">
		<mapper>
			<config>
				<endpoint>
					<name>GateKeeper Overlay</name>
					<grammar>
						<active>
							<identifier>active:GateKeeper</identifier>
							<argument name="request" />
						</active>
					</grammar>
					<request>
						<identifier>active:groovy</identifier>
						<argument name="operator">res:/resources/scripts/gatekeeper.gy
						</argument>
						<argument name="request">arg:request</argument>
					</request>
				</endpoint>
			</config>
			<space>
				<import>
					<uri>urn:com:cognizant:nk:ebayapp:common</uri>
				</import>
			</space>
		</mapper>
	</rootspace>
	<rootspace name="Ebay App Common" uri="urn:com:cognizant:nk:ebayapp:common"
		public="false">
		<fileset>
			<private />
			<regex>res:/resources/.*</regex>
		</fileset>
		<import>
			<uri>urn:com:cognizant:nk:ebayapp:transform</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:client:http</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:lang:xrl</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>
		<fileset>
			<glob>etc/*</glob>
		</fileset>
	</rootspace>
</module>